@import '@story-brew/ui/styles/globals.css';

#testing {
  color: brown;
}

.richtext-bg-background {
  background-color: #171717 !important;
}

.reactjs-tiptap-editor {
  height: 100% !important;
}

.editor-wrapper .tiptap.ProseMirror {
  padding: 5px !important;
  border: none !important;
  /* background: transparent !important; */
}
