@import '@story-brew/ui/styles/globals.css';

#testing {
  color: brown;
}

.richtext-bg-background {
  background-color: #171717 !important;
  /* background-color: transparent !important; */
}

.editor-wrapper .reactjs-tiptap-editor {
  height: 100% !important;
}

.editor-wrapper .richtext-max-h-full {
  padding: 5px !important;
  background: transparent !important;
  min-height: 350px !important;
}

.editor-wrapper .tiptap.ProseMirror {
  padding: 5px !important;
  border: none !important;
}

.editor-wrapper .richtext-overflow-hidden {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.editor-wrapper .richtext-relative {
  min-height: 300px !important;
  /* border: 1px solid red; */
}

.richtext-flex.richtext-justify-end.richtext-gap-3.richtext-text-sm span {
  display: none;
}
