@import '@story-brew/ui/styles/globals.css';

#testing {
  color: brown;
}

.richtext-bg-background {
  background-color: #171717 !important;
  /* background-color: transparent !important; */
}

.reactjs-tiptap-editor {
  height: 100% !important;
}

.editor-wrapper .richtext-max-h-full{
  padding: 5px !important;
  /* border: 1px solid red !important; */
  background: transparent !important;
  min-height: 350px !important;
}

.editor-wrapper .tiptap.ProseMirror {
  padding: 5px !important;
}

.editor-wrapper .richtext-relative {
  min-height: 300px !important;
  /* border: 1px solid red; */
}
